.dark-primary-color {
    background: #C2185B;
}

.default-primary-color {
    background: #E91E63;
}

.light-primary-color {
    background: #F8BBD0;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #009688;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

@import url('https://fonts.googleapis.com/css?family=Pacifico');
.brand-logo {
    font-family: 'Pacifico', cursive;
}

nav ul li a {
    font-size: 1.6em;
}

.navDivider {
    width: auto;
    padding-top: 10px;
}

.parallax-container {
    width: 100%;
    height: 80vh;
    background-color: #C2185B;
}
