    body {
        overflow-x: hidden;

    }

    header,
    main,
    footer {
        padding-left: 300px;
    }

    section {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    section:nth-child(1) {
        margin-top: 100px;
    }

    @media (max-width: 992px) {
        section {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        header,
        main,
        footer {
            padding-left: 0;
        }
        .button-collapse i {
            color: #000;
        }
        section:nth-child(1) {
            margin-top: 40px;
        }
    }

    .svglogo {
        width: 80px;
        height: 80px;
    }

    .input-field label {
        color: #000;
    }

    .input-field input[type=text],
    input[type=email] {
        border-bottom: 1px solid #9e9e9e !important;
    }

    .input-field input[type=text]:focus+label {
        color: #000;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    #slide-out li:nth-child(1) {
        margin-bottom: 50px;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }


    nav {
        height: 122px;
        box-shadow: none;
        line-height: 64px;
        text-size-adjust: 100%;
    }

    nav .nav-wrapper {
        position: relative;
        height: 100%;
    }

    nav .page-title {
        font-weight: 300;
        font-size: 48px;
        line-height: 48.3px;
        padding-left: 5%;
        padding-top: 16px;
        display: block;
        margin: 0;
    }

    nav .page-subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 50px;
        padding-left: 8%;
        display: block;
    }

    .side-nav li>a:hover {
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.70);
    }

    .center-on-small-only {
        display: block;
    }

    .mobile-logo {
        position: absolute;
        left: calc(50% - 40px);
        top: 5px;
    }

    @media (min-width: 992px) {
        .mobile-logo {
            display: none;
        }
    }
    .parallax-container {
      height: 800px;
    }