<div class="carousel carousel-slider" slider>
    <a class="carousel-item" href="#one!">
        <img src="static/images/home_slide1.jpg" alt="slider-bussiness-man">
        <div class="scontent hide-on-small-only">
            <h1>Calitatea este cel mai bun plan de afacere</h1>
            <h5>Am detaliat deja detaliile viitorului dvs. site web, astfel încât sa va puteți concentra asupra lucrurilor care contează</h5>
        </div>
    </a>
</div>
<section class="section-wrap z-depth-1">
    <div class="row">

        <h1 class="center-align">Site de prezentare</h1>
        <div class="col s12 m6 siteImg">

        </div>
        <div class="col s12 m6">
            <p class="flow-text">Site-urile web de prezentare sunt adevărate instrumente de marketing prin care companiile își pot prezenta produsele si serviciile oferite. Prin intermediul site-ului puteți tine legătura cu clienții, le puteți prezenta noutățile, puteți detalia
                serviciile si produsele pe care le oferiți, si puteți câștiga noi clienți. Avem motive bune sa credem ca designul paginii si conținutul prezentat este cel care creează o prima impresie. Prin urmare, iți vom oferi consultanta gratuita web
                design pentru a contribui la imaginea si promovarea activităților companiei tale.</p>
                <ul class="flow-text">
                    <li>Ai pus pe picioare o noua afacere si dorești sa o faci cunoscuta si sa capete notorietate?</li>
                    <li>Ai o afacere care merge bine si vrei sa te extinzi in mediul online?</li>
                    <li>Ai deja un site dar simți ca nu te mai reprezintă si vrei o idee fresh, moderna?</li>
                </ul>
                
                <p class="flow-text">Daca răspunsul la întrebările de mai sus este da, atunci cu siguranța trebuie sa alegi sa creezi un site web de prezentare profesional care sa genereze noi oportunități si sa atragă noi clienți si colaboratori pentru afacerea ta.</p>
            <div class="center-align">
                <a href="#servicii/site de prezentare" class="waves-effect waves-light btn-large">Da-mi click!</a>
            </div>
        </div>
    </div>


</section>

<section class="section-wrap z-depth-1">
    <div class="row">

        <h1 class="center-align">Magazin Online</h1>

        <div class="col s12 magazinImg hide-on-med-and-up">

        </div>

        <div class="col s12 m6">
            <p class="flow-text">Magazinul online reprezinta o forma de comert electronic, care permite vizitatorilor sa cumpere direct bunuri sau servicii utilizand un browser web, orice de la cadouri, carti, parfumuri, flori, pana la cumparaturile casnice, chiar si animale
                de companie poate fi cumparat din magazine online.</p>
            <p class="flow-text">Daca vindeti un produs sau un serviciu, un magazin online poate fi "vitrina" dvs. pe Internet, permitand vizitatorilor magazinului dvs. sa inspecteze produsele sau serviciile direct din casele lor, la orice ora din zi sau din noapte, in orice
                si a saptamanii.</p>
            <p class="flow-text">Solutiile software prezente pe piata, la ora actuala, sunt dintre cele mai diverse fiind aplicabile de la magazine cu scop general, pana la cele mai specializate magazine, dedicate unui singur produs sau grup de produse.</p>
            <div class="center-align">
                <a href="#servicii/magazin online" class="waves-effect waves-light btn-large">Da-mi click!</a>
            </div>
        </div>
        <div class="col s12 m6 magazinImg hide-on-small-only">

        </div>
    </div>
</section>

<section class="section-wrap z-depth-1">
    <div class="row">
        <h1 class="center-align">Web Design</h1>
        <div class="col s12 m6 webdesign"></div>
        <div class="col s12 m6">
            <p class="flow-text">Baza oricarui proces de creare website este o harta buna a site-ului, usor de urmarit, la care sa se adauge un web design de calitate. Design-ul website-ului este foarte important pentru succesul lui, elementele estetice si functionalitatea
                acestora este primordiala pentru experienta vizitatorilor.</p>
            <p class="flow-text">Impactul vizual este cel care reuseste sa confere utilizatorilor prima impresie. Astfel site-ul dvs. este cartea de vizita si primul contact al potentialilor clienti cu afacerea dumneavoastra. Prin urmare trebuie sa aveti un web site cat mai
                atractiv pentru public si de aceea artistii nostrii va pot ajuta sa creati un site cu un design inovator.</p>
            <div class="center-align">
                <a href="#servicii/web design" class="waves-effect waves-light btn-large">Da-mi click!</a>
            </div>
        </div>

    </div>
</section>

<section class="section-wrap z-depth-1">
    <div class="row">
        <h1 class="center-align">Aplicatii web</h1>
        <div class="col s12 m6 webaaps show-on-medium-and-up"></div>
        <div class="col s12 m6">
            <p class="flow-text">Cum poti creste succesul afacerii tale prin crearea de aplicatii web based personalizate, folosind cele mai noi solutii de programare web si alte tehnologii informatice? Programarea Web si internetul ofera acum solutii ce atrag anual pentru unele firme miliarde de euro.</p>
            <p class="flow-text">Fiecare afacere are nevoie de aceste noi tehnologii si solutii pentru a atrage clienti, pentru a oferi servicii de suport si mentenanta sau pentru a gestiona activitati multiple in cadrul firmei intr-un mod eficient. Gandeste-te la firme din domeniul telecomunicatiilor, cum ar putea sa gestioneze activitatea fara softuri performante, care sa gestioneze si sa factureze automat mii de clienti?</p>
            

            <div class="center-align">
                <a href="#servicii/aplicatii web" class="waves-effect waves-light btn-large">Da-mi click!</a>
            </div>
        </div>
        <div class="col s12 m6 webaaps hide-on-med-and-down"></div>
    </div>
</section>
