<section class="portofoliu">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-taieribeton.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Davian Expert<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Davian Expert<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://taieribeton.ro" target="_blank">http://taieribeton.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-testcarconcept.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Test Car Concept<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Test Car Concept<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://testcarconcept.ro" target="_blank">http://testcarconcept.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-dc-gsm.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">DC GSM<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">DC GSM<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://dc-gsm.ro" target="_blank">http://dc-gsm.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-macaroons.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Macaroons<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Macaroons<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://macaroons.ro" target="_blank">http://macaroons.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-prismaart.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">PrismaArt<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">PrismaArt<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://prismaart.ro" target="_blank">http://prismaart.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-pensiuneacasavictoria.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Casa Victoria<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Casa Victoria<i class="material-icons right">close</i></span>
          <ul>
            <li>URL: <a href="http://pensiuneacasavictoria.ro" target="_blank">http://pensiuneacasavictoria.ro</a></li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/screenshot-grmit.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Growmit<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Growmit<i class="material-icons right">close</i></span>
          <ul>
            <li>Tip: Colaborare</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
